{% extends "photolist/layout.html" %}
{% load static %}

{% block title %}
  home
{% endblock title %}

{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Diary in style</h1>
          <p class="lead fw-normal text-white-50 mb-0">With this diary hompeage template</p>
      </div>
  </div>
</header>
<!-- Header -->

<!-- Main -->
<div id="main">

  <div id="memo_list">
    <img class="memo" src="{% static 'bootstrap/images/memo.jpg' %}" width="450">
    <ul class="list1">
      <li>자신의 할일을 적기</li>
      <li>할일을 다하면 체크하기</li>
      <li>체크하면 바의 게이지수가 채워짐</li>
      <li>게이지수가 다 채워지면 100% 달성!</li>
    </ul>
  </div>

  <div id="photo_list">
    <img class="photo" src="{% static 'bootstrap/images/photo.jpg' %}" width="450">
    <ul class="list2">
      <li>사진올리기</li>
      <li>사진 밑에 자신의 해시태그 적기</li>
      <li>기타</li>
      <li>기타</li>
      <li>기타</li>
    </ul>
  </div>

</div>

<!-- Main -->
<script src="https://kit.fontawesome.com/54ae93b2e8.js" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/index.js' %}" defer></script>
{% endblock content %}
