{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap/css/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="{% static 'bootstrap-5.2.0-dist/css/bootstrap.css' %}" />
        <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'bootstrap-5.2.0-dist/js/bootstrap.js' %}"></script>
    </head>

    <body>

    <!-- navbar -->
    <!-- <nav class="navbar">
        <div class="nav_menu1" onclick="doDisplay1()">
            <a href="index.html">HOME</a>
        </div>
        <ul class="navbar_menu">
            <li class="nav_menu2" onclick="doDisplay4()"><a href="#">회원가입</a></li>
            <li class="nav_menu3" onclick="doDisplay3()"><a href="#">로그인</a></li>
            <li class="nav_menu4" onclick="doDisplay2()"><a href="{% url 'photolist:photo_list' %}">사진</a></li>
            <li class="nav_menu5" onclick="doDisplay1()"><a href="#">메모</a></li>
        </ul>
        <ul class="navbar_icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </ul>
        <a href="#" class="navbar_toogleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav> -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'photolist:photo_list' %}">Fixed navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              {% if not user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="#">회원가입</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">로그인</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="#">프로필</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">로그아웃</a>
                </li>
              {% endif %}     
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <!-- navbar -->

    {% block content %}
    {% endblock content %}
    <hr/>


    <!-- Footer -->
    <div>
        &copy; LikelionHackaton.강원대학교
    </div>

    </body>
</html>